@model MyTrashCollector.Models.Customer

@{
    ViewData["Title"] = "Add Pickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Schedule Additional Pickup</h1>

<h4>for @Model.Address.StreetAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPickup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="AddressId" />
            <input type="hidden" asp-for="AccountBalance" />
            <input type="hidden" asp-for="SpecialPickupStatus" />
            <input type="hidden" asp-for="SuspendStartDate" />
            <input type="hidden" asp-for="SuspendEndDate" />
            <input type="hidden" asp-for="RegularPickupDay" />
            <input type="hidden" asp-for="DailyPickupComplete" />
            <input type="hidden" asp-for="IdentityUserId" />
            <div class="form-group">
                <label asp-for="AdditionalPickupDate" class="control-label"></label>
                <input asp-for="AdditionalPickupDate" class="form-control" />
                <span asp-validation-for="AdditionalPickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Account Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
