@model MyTrashCollector.Models.Customer

@{
    ViewData["Title"] = "MakePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stripe{
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('pk_test_51HfSXkEFx1Ks5NyzavFpumJiHajIaEHmc0Ue7jK21ni5SeiryvE7OQiodh2SOWEa6N9POH101659KoBLH7VyKKIB008eus7Vas');

        var elements = stripe.elements();

        var cardElement = elements.create('card');

        cardElement.mount('#card-element');

        cardElement.on('change', function (event) {
            if (event.complete) {
            } else if (event.error) {
            }
        });
    </script>
}

<h1>Submit Payment</h1>

<h4>Account Balance: $@Model.AccountBalance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="AddressId" />
            <input type="hidden" asp-for="AccountBalance" />
            <input type="hidden" asp-for="SpecialPickupStatus" />
            <input type="hidden" asp-for="SuspendStartDate" />
            <input type="hidden" asp-for="SuspendEndDate" />
            <input type="hidden" asp-for="AdditionalPickupDate" />
            <input type="hidden" asp-for="DailyPickupComplete" />
            <input type="hidden" asp-for="IdentityUserId" />
            <input type="hidden" asp-for="RegularPickupDay" />
            <div class="form-group">
                <label for="card-element">
                    Credit or Debit Card Info
                </label>
                <div id="card-element" style="width: 100%"></div>
                <div id="card-errors" role="alert"></div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentAmount" class="control-label"></label>
                <input asp-for="PaymentAmount" class="form-control" />
                <small>Please input dollars and cents separated by a decimal place.</small>
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Payment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Account Overview</a>
</div>

@*<form action="MakePayment" method="post" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Credit or Debit Card
            </label>
        </div>
        <div class="form-row">
            <div id="card-element" style="width: 500px"></div>
            <div id="card-errors" role="alert"></div>
        </div>
        <button>Submit Payment</button>
    </form> *@

